/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";



:root {
    --principal: #593ec3;
    --principal_claro: #49c376;
    --alterno: #005baa;
    --alterno_claro: #00afef;
    --textos: #fffdfd;
    --textos-secundarios: #504f4f;
    --borde_principal: #f0f2fa;
    // --textos_claro: #a2a4ad;
    // --lineas: #E4E7F2;
    // --fondo_gris: #f6f4fa;
    // --fondo_paneles: #fafafc;
    // --errores: #ea4d59;
    // --fondos: #f8f6fb;
    // --icono_menu: #7eca13;
    // --iconos: #43495f;
    // --icono_claro: #8890b1;
    // --iconos_intermedio: #7C839C;
    // --tabs: #EEEEFB;
    // --texto_notificaciones: #728117;
    // --aptitud_alta: #55795D;
    // --aptitud_media: #C9CF08;
    // --aptitud_baja: #DEEEA8;
    // --aptitud_no_apta: #D58269;
    // --zona_riesgo_alta: #FD3B00;
    // --zona_riesgo_medio: #F0F027;
    // --zona_riesgo_bajo: #3565A7;
}


.contenedor_general {
    padding: 0;
    margin: 0;
    height: 100%;
}

.boton_principal {
    color: var(--textos);
    width: 100%;
    margin-top: 0.6rem;
    font-size: 1.4rem;
    padding: 0.7rem 0rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--principal);
}